body {
	background-image: url("../img/maingif.gif"), url("../img/mainimg.png");
	background-size: 534px 667px, cover;
	background-repeat: no-repeat;
	background-position: -55px -99px, 0 0;
	margin: 0;
	width: 408px;
	height: 664px;
}

html {
	background-color: white;
	display: flex;
	justify-content: center;
}


.ansbox {
	width: 332px;
	height: 170px;
	background: #f8f9ff;
	border: 1px solid #c2cfff;
	border-radius: 17.5132px;
	margin-left: 38px;
    margin-top: 350px;
    position: absolute;
}



.sidebuttoncon {
	display: flex;
	flex-direction: column;
    margin-top: 200px;
    position: absolute;
    margin-left: 345px;
}

.imgsave-bt,
.share-bt {
	width: 63px;
	height: 49px;
	margin-bottom: 18px;
}

.heart-bt {
	width: 31px;
	height: 28.44px;
    margin-right: 36px;
}

.retry-bt {
	width: 26.4px;
	height: 33px;
}

.buttoncon {
    margin-top: 280px;
    position: absolute;
    margin-left: 157px;
}

.ansbox-title {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 12px;
	letter-spacing: -0.02em;
	color: #4b4b4b;
	padding: 30px;
}

.answer{
    font-family: "SUIT";
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: #777777;
}

.bubblecon {
	display: flex;
	align-items: center;
}

.ans-bubble {
	margin-top: 35px;
    width: 250px;
    height: 90px;
    margin-left: 40px;
}

.back-bt {
	width: 17px;
	height: 15.27px;
    margin-left: 30px;
    margin-top: 25px;
}

.floor{
    display: flex;
    align-items: center;
}

.clockcon{
    margin-left: 40px;
    color:rgba(169, 169, 169, 1);
    font-size: 14px;
    margin-top: 5px;
}