body {
	background-image: url("../img/mainimg.png");
	background-size: cover;
	margin: 0;
	width: 408px;
	height: 664px;
}

html {
	background-color: white;
	display: flex;
	justify-content: center;
}

.gifcon img {
	width: 534px;
	height: 667px;
	transform: translate(-57px, -99px);
}

.gifcon {
	width: 408px;
	height: 664px;
	overflow: hidden;
}

.bubblecon {
	position: absolute;
    z-index: 10000;
}

.maincon{
    position: relative;
}
