body {
	background-image: url("../img/maingif.gif"), url("../img/mainimg.png");
	background-size: 534px 667px, cover;
    background-repeat:no-repeat;
    background-position: -55px -99px, 0 0;
	margin: 0;
	width: 408px;
	height: 664px;
}

html {
	background-color: white;
	display: flex;
	justify-content: center;
}

.gifcon img {
	width: 534px;
	height: 667px;
	transform: translate(-57px, -99px);
}

.gifcon {
	width: 408px;
	height: 664px;
	overflow: hidden;
}

.bubblecon {
	position: absolute;
	z-index: 10000;
}

.maincon {
	position: relative;
}
